services:
  - type: web
    name: raffle-shi
    env: node
    region: oregon
    plan: starter
    buildCommand: cd raffle && npm install && npx prisma generate && npm run build
    startCommand: cd raffle && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
        sync: false

databases:
  - name: raffle-shi-db
    databaseName: raffle_shi
    user: raffle_user
    plan: starter

